@import 'config';

.info-wrapper {
	margin: 0 auto;
	border-radius: 1px;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			padding: 40px 0;

			.info {
				float: left;
			}

			.info-header {
				width: 19%;
				color: $red;
				margin-right: 8%;
			}

			.info-content {
				width: 73%;

				&:nth-of-type(2) {

					a {
						color: $plum;
					}

					.email {
						color: $plum;
					}

				}



				a {

					&.stuff {
						color: lighten($plum, 30);
					}

					&:hover {
						color: lighten($plum, 30);
					}
					
					line-height: 1;

					&:hover {
						text-decoration: underline;
					}
				}

				span {
					font-weight: bold;
					color: lighten($plum, 30);

					&.email {
						font-weight: normal;
					}

				}

				@include mobile {
					font-size: 14px;
				}

			}

			p {
				margin: 0;
			}
			
		}

	}

}