@import 'config';

.landing-wrapper {
  height: 100vh;
  margin-bottom: 200px;
  padding-top: 50px;
  position: relative;

  @include portrait {
    padding-top: 20px;
    height: 460px;
    margin-bottom: 100px;
  }
}

.landing-name {
  float: left;
  margin-top: 2.5rem;

  @media screen and (max-width: 1024px) {
    float: none;
    width: 311px;
    display: block;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  @include portrait {
    margin-bottom: 20px;
    width: 100%;
  }
  
  h1 {
    font-size: 95px;
    color: $plum;
    margin: 0;
    line-height: 90px;

    @include small {
      font-size: 80px;
      line-height: 75px;
    }

    @include mobile {
      font-size: 75px;
      line-height: 70px;
    }

    @include portrait {
      font-size: 65px;
      line-height: 60px;
    }



    &:nth-child(2) {
      font-weight: normal;
      color: $red;
      font-size: 60px;

      @include small {
        font-size: 55px;
      }

      @include mobile {
        font-size: 47px;
      }

      @include portrait {
        font-size: 40px;
      }
    }
   
  }

}

.landing-text {
  float: right;
  margin-top: 14.5rem;
  margin-bottom: 75px;
  max-width: 430px;

  @media screen and (max-width: 1024px) {
    float: none;
    width: 311px;
    display: block;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  @include portrait {
    margin-bottom: 20px;
    width: 100%;
  }

  h3 {
    font-size: 2.1429rem;
    margin: 0;

    @include small {
      font-size: 2rem;
    }

    @include mobile {
      font-size: 1.7rem;
    }
  }

  h1 {
    margin: 0;
    font-weight: normal;

    @include portrait {
      line-height: 0.7em;
    }
  }

  h4 {
    font-weight: normal;
    margin: 0;
    font-size: 1.5rem;
    line-height: 2.5rem;

    @include small {
      font-size: 1.2rem;
      line-height: 2rem;
    }

    @include mobile {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

}

#nav-arrow {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  cursor: pointer;
  z-index: 10;

  @include mobile {
    bottom: 10px;
  }
  
  .poly-1 {
    -webkit-animation: fade-colors 2s ease infinite;
    animation: fade-colors 2s ease infinite;
  }

  .poly-2 {
    -webkit-animation: fade-colors 2s 0.2s ease infinite;
    animation: fade-colors 2s ease infinite;
  }

  .poly-3 {
    -webkit-animation: fade-colors 2s 0.4s ease infinite;
    animation: fade-colors 2s ease infinite;
  }
  
}

@-webkit-keyframes fade-colors {
  0% { fill: $red; }
  20% { fill: $plum; }
  80% { fill: $plum; }
  100% { fill: $red; }
}

@keyframes fade-colors {
  0% { fill: $red; }
  20% { fill: $plum; }
  80% { fill: $plum; }
  100% { fill: $red; }
}