<pre class="line-numbers">
  <code class="language-markup">
&lt;h1&gt;PROGRAMMING CHOPS&lt;/h1&gt;

&lt;ul&gt;
  &lt;li&gt;javascript&lt;/li&gt;
  &lt;li&gt;jquery&lt;/li&gt;
  &lt;li&gt;angularjs&lt;/li&gt;
  &lt;li&gt;backbonejs&lt;/li&gt;
  &lt;li&gt;nodejs&lt;/li&gt;
  &lt;li&gt;requirejs&lt;/li&gt;
  &lt;li&gt;gruntjs&lt;/li&gt;
  &lt;li&gt;gulpjs&lt;/li&gt;
  &lt;li&gt;velocityjs&lt;/li&gt;
  &lt;li&gt;expressjs&lt;/li&gt;
  &lt;li&gt;ajax&lt;/li&gt;
  &lt;li&gt;html&lt;/li&gt;
  &lt;li&gt;css&lt;/li&gt;
  &lt;li&gt;sass&lt;/li&gt;
  &lt;li&gt;yeoman&lt;/li&gt;
  &lt;li&gt;svg animations&lt;/li&gt;
  &lt;li&gt;ruby on rails&lt;/li&gt;
  &lt;li&gt;postgresql&lt;/li&gt;
  &lt;li&gt;mongodb&lt;/li&gt;
  &lt;li&gt;responsive web design&lt;/li&gt;
  &lt;li&gt;mobile web&lt;/li&gt;
&lt;/ul&gt;

  </code>
</pre>