<div class="content-container">
  <div class="landing-wrapper">
    
    <div class="landing-name">
      <h1>
        randy<br>
        rollog,
      </h1>

      <h1>developer</h1>
    </div>

    <div class="landing-text">
      <h3>good {{ currentGreeting }}.</h3>
      
      <h1>&mdash;</h1>
      
      <h4>
        i'm randy, an interactive developer<br>
        with a taste for design based in<br>
        los angeles, ca.
      </h4>
    </div>

    <div class='clearfix'></div>

    <div class="coming-soon">
      <p>new site <span>coming soon!</span></p>
    </div>

  </div>
</div>