<div ng-show="category == 'default'" class="animate-if">
<div ng-include="'templates/default.html'"></div>
</div>

<div ng-show="category == 'programming'" class="animate-if">
<div ng-include="'templates/programming.html'"></div>
</div>

<div ng-show="category == 'software'" class="animate-if">
<div ng-include="'templates/software.html'"></div>
</div>

<div ng-show="category == 'clients'" class="animate-if">
<div ng-include="'templates/clients.html'"></div>
</div>

<div ng-show="category == 'interests'" class="animate-if">
<div ng-include="'templates/interests.html'"></div>
</div>