<pre class="line-numbers">
  <code class="language-markup">

	/* 
	   Just another pure CSS code editor design.
	   Designed based on @roybarberuk's amazing Dribbble shot.
	   Dribbble shot: http://dribbble.com/shots/1022371-Landing-Page-Element 

	   Lea Verou's Prism syntax highlighter is used along with 
	   the line number plugin and the Tomorrow-Theme.
	*/

	&lt;h1&gt;Programming/Scripting Languages&lt;/h1&gt;
	&lt;ul&gt;
	  &lt;li&gt;JavaScript&lt;/li&gt;
	  &lt;li&gt;jQuery&lt;/li&gt;
	  &lt;li&gt;AngularJS&lt;/li&gt;
	  &lt;li&gt;BackboneJS&lt;/li&gt;
	  &lt;li&gt;NodeJS&lt;/li&gt;
	  &lt;li&gt;RequireJS&lt;/li&gt;
	  &lt;li&gt;GruntJS&lt;/li&gt;
	  &lt;li&gt;GulpJS&lt;/li&gt;
	  &lt;li&gt;VelocityJS&lt;/li&gt;
	  &lt;li&gt;ExpressJS&lt;/li&gt;
	  &lt;li&gt;AJAX&lt;/li&gt;
	  &lt;li&gt;HTML&lt;/li&gt;
	  &lt;li&gt;CSS&lt;/li&gt;
	  &lt;li&gt;SASS&lt;/li&gt;
	  &lt;li&gt;Yeoman&lt;/li&gt;
	  &lt;li&gt;SVG Animations&lt;/li&gt;
	  &lt;li&gt;Ruby on Rails&lt;/li&gt;
	  &lt;li&gt;PostgreSQL&lt;/li&gt;
	  &lt;li&gt;MongoDB&lt;/li&gt;
	  &lt;li&gt;Responsive Web Design&lt;/li&gt;
	  &lt;li&gt;Mobile Web&lt;/li&gt;
	&lt;/ul&gt;

  </code>
</pre>