<pre class="line-numbers">
  <code class="language-markup">

    /* 
       Just another pure CSS code editor design.
       Designed based on @roybarberuk's amazing Dribbble shot.
       Dribbble shot: http://dribbble.com/shots/1022371-Landing-Page-Element 

       Lea Verou's Prism syntax highlighter is used along with 
       the line number plugin and the Tomorrow-Theme.
    */

    &lt;h1&gt;SOFTWARE I USE&lt;/h1&gt;
    &lt;ul&gt;
      &lt;li&gt;Photoshop&lt;/li&gt;
      &lt;li&gt;Illustrator&lt;/li&gt;
      &lt;li&gt;InDesign&lt;/li&gt;
      &lt;li&gt;Ableton Live 9&lt;/li&gt;
      &lt;li&gt;Xcode&lt;/li&gt;
      &lt;li&gt;Microsoft Word&lt;/li&gt;
    &lt;/ul&gt;






	</code>
</pre>